@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

/**
 * Menu de navigation
 */
#menu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 20px 0; /* haut droite bas gauche */
}

.logo {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.logo span {
    color: orange;
}

#menu nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
}

#menu nav ul li a {
    text-decoration: none;
    color: #999999;
}


/**
 * Titre, slogan et image du chien
 */
header {
    background-color: #f8f9fa;
}

header section {
    display:flex;
    justify-content: space-between; /* Centrage horizontal, seulement avec les flexbox */
    width: 60%;
    margin: auto;
    align-items: center; /* Centrage vertical, seulement avec les flexbox */
}

/* Largeur de l'image contenue dans le header */
.headerDog {
    width: 35%;
}

.headerTitle h1 {
    font-size: 4rem;
    margin: 0; /* Suppression des marges auto. sur la balise heading */
    font-weight: lighter;
}

.headerTitle p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: lighter;
    color: #999999;
}

/**
 * Partie "main" du site
 */
.welcome {
    text-align: center;
    width: 30%;
    margin: 60px auto; /* haut ET bas; droite ET gauche */
}

.welcome h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.welcome p {
    margin: 0;
    font-weight: lighter;
    color: #999999;
}

/**
 * Cards
 */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    text-align: right;
    width: 60%;
    margin: auto auto 60px auto;
}

/* Prends tous les enfants en position en position pair */
.card:nth-child(even) {
    text-align: left;
}

.card .card-content {
    width: 50%;
}

.card .card-content h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
}

.card .card-content p {
    margin: 15px 0 40px 0;
    color: #999999;
}

.card .card-content a {
    background-color: #a2c0be;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
}

.card .picture {
    width: 40%;
    box-shadow: 10px 10px 0 #a2c0be;
}


/**
 * Footer
 */
footer {
    background-color: #4a4a4b;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 50px 0;
}