:root {
    /* une variable doit toujours commencer par 2 tirets */
    --blanc : white;
    --noir : black;
    --gris_clair : #f8f9fa;
    --gris : #999999;
    --gris_foncé : #4a4a4b;
    --orange : #ff9900;
    --vert : #a2c0be;
    --vert_foncé : #567876;
} 



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}




/* Entête de la page */ 

/* Positionnement */
#menu {
    display : flex;
    justify-content: space-between;
    width: 60%; /*On peut également faire "margin-left : 20% + margin-right : 20%*/
    margin : auto;
    /*on aurait pu faire padding-top + padding bot*/
    padding : 20px 0 20px 0; /* padding : haut droite bas gauche */
}

/* Logo */
.Logo {
    text-decoration: none;
    color: var(--noir); /* var, sert a rappeler la variable qu'on a au debut */
    font-size: 2rem;
}

.Logo span {
    color: var(--orange);
}

/* Navigation */
header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--gris);
    font-weight: bold;
    transition: color 500ms;    
}

header nav ul li a:hover {
    color : var(--gris_foncé);
    transition: color 500ms;
}


/* Slogan */

/* Couleur de fond de l'entête */
header {
    background-color: var(--gris_clair);
}

/* Positionnement */
header section {
    display: flex;
    justify-content: space-between;
    width : 60%;
    margin : auto;
    align-items: center;
}

/* Titre */
header section div h1 {
    font-size: 4rem;
    font-weight: lighter;
    margin : 0; /* Suppression des marges auto sur la balise heading */
}

/* Paragraphe */
header section div p {
    font-size: 1.3rem;
    font-weight: lighter;
    color: var(--gris);
    margin: 0;
}

/* Image */
header section img {
    width: 30%;
}








/* Corps principal de la page */

/* Centre de la page */

/*Positionnement */
main .center {
    text-align: center;
    margin: 5% 37% 5% 37%; /* On peut faire "width : 30%" + "margin : auto" */
} /* pour la hauteur, on aurait pu utiliser "margin: 60px auto" et "60px" -> haut et bas / "auto" -> droite et gauche */

/* Titre */
main .center h1 {
    font-size: 2.1rem;
    font-weight: bold;
    margin : 0;
}

/* Paragraphe */
main .center p {
    color: var(--gris);
    margin : 0;
    font-weight: lighter;
}




/* 
"justify-content : space-between" Axe principal (horizontal)
"align-items : center" Axe vertical




/* Bas de page */

/* Positionnement */
main .bottom { 
    margin : 0 20% ;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap : 10px ;
}

/*Généralité Début*/

/* Titres */
main .bottom div h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: lighter;
}

/* Paragraphes */
main .bottom div p {
    color: var(--gris);
    margin-bottom : 40px;
    font-weight: lighter;
}

/* Boutons */
main .bottom div a {
    font-size: 1.1rem;
    background-color: var(--vert);
    color: var(--blanc);
    text-decoration: none;
    font-weight: bold ;
    border-radius: 30px;
    padding : 15px 40px;
    transition: background-color 1s;
}

main .bottom div a:hover {
    background-color: var(--noir);
    transition: background-color 1s; /* on peut utiliser des "ms" */

}

/* Images */
main .bottom article img {
    width: 43%;
    margin: auto;
    box-shadow: 10px 10px 0px 0px var(--vert);
    /* décalage Axe X (droite), Axe Y (bas), flou Axe X (droite), flou Axe Y (bas), couleur de l'ombre */
}

/*Généralité fin*/

/*Articles positionnement*/
main .bottom .Love,
main .bottom .Fearsome,
main .bottom .Beautiful {
    display: flex;
    margin-top : 70px
}
/*Centrage + espacement du texte par rapport à l'image */
/*Article 1 et 3*/
main .bottom .Love div,
main .bottom .Beautiful div {
    text-align : right;
    margin : 50px 170px 0 0  ;
}

/*Article 2*/
main .bottom .Fearsome div {
    text-align : left;
    margin : 50px 0 0 170px ;
}









/*Footer*/

footer {
    text-align: center;
    margin-top: 100px;
    background-color: var(--gris_foncé);
    border: 1px solid var(--gris_foncé);
    height: 200px;
    color: var(--blanc);
}

footer p {
    font-size: 0.8rem;
    margin-top: 80px;
    font-weight: bold;
}








